$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-gray-light: #C0C0C0;
$color-quartary:gray;

* Projet-OhMyFood {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  body {
    margin: auto;
    padding: 40px;
    font-family: Roboto;
    max-width: 1400px;
    height: 1000px;
  }
  
  header {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    .icone-precedent{
        font-size: 37px;
        width: 86%;
    }
    .logo-ohmyfood-header{
        width: 116%;
    }
   img {
    width: 180px;
    height: 40px;
    }
}
main{
    img{
        width: 100%;
        height: 439px;
    }.conteneur__nom-resto_coeur{
        display: flex;
        align-items: center;
        gap: 10px; 
        i
        {
    font-size: 23px;
        }
    }
    .Nom-resto{
        font-family: Shrikhand;
    }
    .coeur-non-rempli{
        position: relative;
        opacity:1;
        &:hover{
            opacity: 1; 
            color:$color-primary;
            background-color: $color-primary;

    }
}
    .coeur-rempli{
        position: relative;
        right: 33px; 
        opacity: 0;
        transition: all 400ms;
    &:hover{
            opacity: 1;
            color: $color-primary; 
            background-image: $color-primary;
            transform: scale(1.1);
    }
}
    .conteneur_entrees_plats_desserts{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

    .conteneur__entrees{
        width: 30%;
    }
    .conteneur__plats{
        width: 39%;
    }
    .conteneur__desserts{
        width: 31%;
    }
    .menu-categorie{
        border-bottom: 5px solid #99E2D0;
        width: 9%;
        padding-bottom: 10px;
    }
    .card{
        border: 1px solid $color-gray-light;
        background-color: $color-gray-light;
        filter:brightness(130%);
        border-radius: 20px;
        box-shadow: 0px 10px 12px $color-quartary;
        margin-bottom: 25px; 
        width: 85%;
        height: 70px;
        padding-left: 20px;
        line-height: 2px;
        .prix{
            font-weight: bold;
            float: right;
            margin-right: 25px;
        }
    }
    }
    .button__commander
    {
        background-image: linear-gradient(355deg, $color-primary, $color-secondary);
        border: 1px;
        border-radius: 50px;
        box-shadow: 0px 5px 12px $color-quartary;
        width: 30%;
        height: 80px; 
        font-size: 24px;
        color: white;
        font-family: Roboto;
        margin-top: 30px;
        cursor: pointer; 
        transform: scale(1);
        &:hover{
            transform: scale(1.1);
        }
    }
}
footer
{
    width: 100%;
    height: 20%;
    margin-top: 40px; 
    background-color: #353535;
    color:white;
    padding-top: 15px; 
    .logo-text-footer{
        font-family: Shrikhand;
        font-size: 33px;
        margin-left: 38px;
        color:white;
    }
    .list-puces-footer{
        list-style-type: none;
    }
    .icone-proposer{
        padding-right: 10px; 
        }
        .icone-devenir{
        padding-right: 5px; 
        }
}
@media screen and (max-width:990px) /*VERSION TABLETTE*/
{
    main{
        .conteneur_entrees_plats_desserts{
            justify-content: initial;
            width: 100%;
    .conteneur__entrees{
        width: 50%;
    }
    .conteneur__plats{
        width: 50%;
    }
    .conteneur__desserts{
        width: 50%;
    }
    .button__commander{
        margin-top: 177px;
        margin-left: 70px;
    }
}
}

}
@media screen and (max-width: 750px) /*VERSION MOBILE*/
{
    main{
    .conteneur_entrees_plats_desserts{
        width: 100%;
   .conteneur__entrees{
            width: 100%;
        }
    .conteneur__plats{
        width: 100%;
    }
    .conteneur__desserts{
        width: 100%;
    }
    .button__commander{
        margin-top: 10px;
        margin-left: 120px;
        width: 60%;
    }
}
    }
}