$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-gray-light: #C0C0C0;
$color-quartary:gray;
@keyframes loading {
    0%{
      opacity: 0.9;
      z-index: 1;
    }
    30%{
      opacity: 0.9;
      z-index: 1;
     
    }
    50%{
      opacity: 0.7;
      z-index: 1;
     
    }
    80%{
      opacity: 0.3;
      z-index: 1;
      
    }
    100%{
      opacity: 0;
    }
  }
  @keyframes spinner {
      from{
          rotate:(0deg);
      }
      to{ rotate:(360deg);
      }
  }
*Projet-OhMyFood
{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    margin: auto; 
    padding: 40px;  
    font-family: Roboto; 
    max-width: 1400px;
    height: 1000px; 
}
.loading{
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background-color: $color-gray-light;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: loading 3s forwards;
        .cercle{
            position: absolute;
            border-radius:50%;
            width:160px;
            height:160px;
            border: 10px solid $color-tertiary;
            z-index: 2;
        }
        .spinner{
            border-radius: 50%;
            width: 120px;
            height: 120px;
            position: absolute;
            border: 10px dotted $color-secondary;
            animation: spinner 1s ease-in-out 400ms 2 forwards;
            z-index: 2;
        }
        .icone-dinner{
            position: absolute;
            font-size: 60px;
            color:$color-primary;
            z-index: 2;
        }
    }
header{
    .logo-ohmyfood-header{
        text-align: center;
}
}
main{   
    img{
    width: 180px;
    height: 40px;
    }
    .barre__localisation{
    height: 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-gray-light;
    filter:brightness(125%);
    gap: 12px; 
    font-size: 18px;
    font-family: Roboto;
    i{
        cursor: pointer;
    }
    }
    .presentation-fonctionnement
    {
    display: flex;
    gap: 300px; 
    .presentation{
        font-family: Roboto;
        width: 50%;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-top: 100px; 
    }
    .button__explorer
    {
        background-image: linear-gradient(355deg, $color-primary, $color-secondary);
        border: 1px;
        border-radius: 30px;
        box-shadow: 0px 5px 12px $color-quartary;
        width: 200px;
        height: 60px; 
        color: white;
        font-family: Roboto;
        margin-top: 30px;
        cursor: pointer; 
        transform: scale(1);
        &:hover{
            transform: scale(1.1);
            filter: brightness(120%);
            box-shadow: 10px 10px 10px grey;
        }
    }
    .fonctionnement
    {
    font-family: Roboto;
    width: 50%;
    padding-top: 40px; 
    }
    .fonctionnement__etape
    {
        border: 1px solid $color-gray-light;
        background-color: $color-gray-light;
        filter:brightness(130%);
        border-radius: 20px;
        box-shadow: 0px 10px 12px $color-quartary;

        margin-bottom: 25px; 
        width: 70%;
        height: 40px;
        display: flex;
        gap: 20px; 
        padding-left: 20px;
        padding-top: 25px;
        cursor: pointer;
        transform: scale(1);
        i{
            color:$color-primary;
            filter: brightness(50%)
        }
        &:hover{
        border: 1px; 
        transform: scale(1.03);
        }
    }
    .conteneur__etape
    {
        margin-left: -24px; 
        counter-reset: puces;
        display: flex;
        flex-direction: column;
    }
    li
    {
        list-style-type:none;
        counter-increment: puces;
    }
    li:before
    {
        content:counter(puces);
        background-color: $color-primary;
        color: white;
        width: 24px;
        height: 24px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-top: 23px;
        margin-left: -29px;
    }
}
.Restaurants{
    width: 100%;
    .conteneur__cards__resto
    {
        display: flex;
        gap: 50px;
        width: 100%;
    }
    .new{
        position:relative;

    }
    .new::before{
        content:"Nouveau";
        position:absolute; 
        right: 16px;
        top: 16px; 
        background-color: $color-tertiary;
        color:darkgreen;
        width: 80px;
        height:20px; 
        text-align: center
    }
    .restaurant__card{
    border: 1px solid $color-gray-light;
    width: 40%;
    height: 270px; 
    border-radius: 10%;
    box-shadow: 6px 6px 7px $color-gray-light;
    text-decoration: none;
    color:black; 
    transform: scale(1);
    &:hover{
        transform: scale(1.08);
    }
    img{
        width: 100%;
        height: 75%;
        border-radius: 10% 10% 0% 0%;
    }
    .descrip-resto{
    margin-top: 2px;
    margin-left: 20px;
    line-height: 4px; 
    }
    .lieu{
        font-size: 14px; 
    }
    .coeur-non-rempli{
        font-size: 23px;
        float:right;
        position: relative;
        bottom: 27px;
        right: 20px; 
        opacity: 1;
    &:hover{
        opacity: 1; 
        color:$color-primary;
        background-image: $color-primary;
    }
    }
    .coeur-rempli{
        font-size: 23px;
        float:right;
        position: relative;
        bottom: 27px;
        right: -3px; 
        opacity: 0;
        transition: all 400ms;
        &:hover{
            opacity: 1;
            color: $color-primary; 
            background-image: $color-primary;
            transform: scale(1.1);
        }
    }
 }
}
}
footer
{
    width: 100%;
    height: 20%;
    margin-top: 40px; 
    background-color: #353535;
    color:white;
    padding-top: 15px; 
    .logo-text-footer{
        font-family: Shrikhand;
        font-size: 33px;
        margin-left: 38px;
        color:white;
    }
    .list-puces-footer{
        list-style-type: none;
        a{
            color:white;
            text-decoration: none; 
        }
    }
    .icone-proposer{
    padding-right: 10px; 
    }
    .icone-devenir{
    padding-right: 5px; 
    }
}
@media screen and (max-width:990px) /*VERSION TABLETTE*/
{
    main{
.presentation-fonctionnement{
        display: flex;
        flex-direction: column;
        gap: 40px; 
    .presentation{
    width: 100%;
    }
    .fonctionnement{
        width: 100%;
    }
    .conteneur__etape{
        display: flex;
        flex-direction: row;
        gap: 71px;
    }
    .fonctionnement__etape{
        width: 100%;
    }
    }
.Restaurants{
.conteneur__cards__resto{
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    .restaurant__card{
        width: 45%;
    }
    }
    }
}
}
@media screen and (max-width: 750px) /*VERSION MOBILE*/
{
main{
    .fonctionnement{
    .conteneur__etape{
        display: flex;
        flex-direction: column;
        gap: 25px;
    } 
}
.Restaurants{
    .conteneur__cards__resto{
    .restaurant__card{
    width: 100%;
    border-radius: 30px;
    }
    img{
        border-radius: 30px 30px 0px 0px;
    }
}
}
}
}