@charset "UTF-8";
@-webkit-keyframes anim-menu {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes anim-menu {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
* Projet-OhMyFood {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  margin: auto;
  padding: 40px;
  font-family: Roboto;
  max-width: 1400px;
  height: 1000px;
}

header {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}
header .icone-precedent {
  font-size: 37px;
  width: 86%;
}
header .logo-ohmyfood-header {
  width: 116%;
}
header img {
  width: 180px;
  height: 40px;
}

main img {
  width: 100%;
  height: 439px;
}
main .conteneur__nom-resto_coeur {
  display: flex;
  align-items: center;
  gap: 10px;
}
main .conteneur__nom-resto_coeur i {
  font-size: 23px;
}
main .Nom-resto {
  font-family: Shrikhand;
}
main .coeur-non-rempli {
  position: relative;
  opacity: 1;
}
main .coeur-non-rempli:hover {
  opacity: 1;
  color: #9356DC;
  background-color: #9356DC;
}
main .coeur-rempli {
  position: relative;
  right: 33px;
  opacity: 0;
  transition: all 400ms;
}
main .coeur-rempli:hover {
  opacity: 1;
  color: #9356DC;
  transform: scale(1.1);
}
main .conteneur_entrees_plats_desserts {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
main .conteneur_entrees_plats_desserts .conteneur__entrees {
  width: 30%;
}
main .conteneur_entrees_plats_desserts .conteneur__plats {
  width: 39%;
}
main .conteneur_entrees_plats_desserts .conteneur__desserts {
  width: 31%;
}
main .conteneur_entrees_plats_desserts .menu-categorie {
  border-bottom: 5px solid #99E2D0;
  width: 9%;
  padding-bottom: 10px;
}
main .conteneur_entrees_plats_desserts .card {
  border: 0px solid #C0C0C0;
  background-color: #C0C0C0;
  filter: brightness(130%);
  border-radius: 20px;
  box-shadow: 0px 10px 12px gray;
  margin-bottom: 25px;
  width: 85%;
  height: 70px;
  padding-left: 20px;
  display: flex;
  overflow: hidden;
  -webkit-animation: anim-menu ease 1s both;
          animation: anim-menu ease 1s both;
  /*boucle pour le délai de l'animation*/
}
main .conteneur_entrees_plats_desserts .card:nth-child(1) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
main .conteneur_entrees_plats_desserts .card:nth-child(2) {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}
main .conteneur_entrees_plats_desserts .card:nth-child(3) {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}
main .conteneur_entrees_plats_desserts .card:nth-child(4) {
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
}
main .conteneur_entrees_plats_desserts .card:nth-child(5) {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}
main .conteneur_entrees_plats_desserts .card .descrip-entree {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .conteneur_entrees_plats_desserts .card .descrip-entree .Nom__de_l_entree {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .conteneur_entrees_plats_desserts .card .descrip-entree .accompagnement-entree {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: -21px;
}
main .conteneur_entrees_plats_desserts .card .descrip-plat {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .conteneur_entrees_plats_desserts .card .descrip-plat .Nom__du__plat {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .conteneur_entrees_plats_desserts .card .descrip-plat .accompagnement-plat {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: -21px;
}
main .conteneur_entrees_plats_desserts .card .descrip-dessert {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .conteneur_entrees_plats_desserts .card .descrip-dessert .Nom__du__dessert {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .conteneur_entrees_plats_desserts .card .descrip-dessert .accompagnement-dessert {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: -21px;
}
main .conteneur_entrees_plats_desserts .card:hover .card__checkbox {
  margin-right: 0;
}
main .conteneur_entrees_plats_desserts .card:hover .icone-check {
  transform: rotate(360deg);
}
main .conteneur_entrees_plats_desserts .prix {
  font-weight: bold;
  margin-left: auto;
  padding-top: 40px;
  padding-right: 23px;
}
main .card__checkbox {
  background-color: #99E2D0;
  filter: brightness(75%);
  border-radius: 0px 20px 20px 0px;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 72px;
  font-size: 27px;
  color: white;
  margin-right: -72px;
  transition: all 500ms;
}
main .card__checkbox:hover .icone-check {
  transform: rotate(360deg);
}
main .card__checkbox .icone-check {
  transition-duration: 500ms;
  transition-property: transform;
}

.button__commander {
  background-image: linear-gradient(355deg, #9356DC, #FF79DA);
  border: 1px;
  border-radius: 50px;
  box-shadow: 0px 5px 12px gray;
  width: 30%;
  height: 80px;
  font-size: 24px;
  color: white;
  font-family: Roboto;
  margin-top: 30px;
  cursor: pointer;
  transform: scale(1);
}
.button__commander:hover {
  transform: scale(1.1);
  filter: brightness(120%);
  box-shadow: 10px 10px 10px grey;
}

footer {
  width: 100%;
  height: 20%;
  margin-top: 40px;
  background-color: #353535;
  color: white;
  padding-top: 15px;
}
footer .logo-text-footer {
  font-family: Shrikhand;
  font-size: 33px;
  margin-left: 38px;
  color: white;
}
footer .list-puces-footer {
  list-style-type: none;
}
footer .list-puces-footer a {
  color: white;
  text-decoration: none;
}
footer .icone-proposer {
  padding-right: 10px;
}
footer .icone-devenir {
  padding-right: 5px;
}

@media screen and (max-width: 990px) {
  main .conteneur_entrees_plats_desserts {
    justify-content: initial;
    width: 100%;
  }
  main .conteneur_entrees_plats_desserts .conteneur__entrees {
    width: 50%;
  }
  main .conteneur_entrees_plats_desserts .conteneur__plats {
    width: 50%;
  }
  main .conteneur_entrees_plats_desserts .conteneur__desserts {
    width: 50%;
  }
  main .conteneur_entrees_plats_desserts .button__commander {
    margin-top: 177px;
    margin-left: 70px;
  }
}
@media screen and (max-width: 750px) {
  main .contenu-page {
    position: absolute;
    top: 463px;
    background-color: white;
    border-radius: 40px 40px;
    width: 90%;
  }
  main .conteneur__nom-resto_coeur {
    gap: 0px;
    margin-left: 15px;
  }
  main .conteneur__nom-resto_coeur .coeur-non-rempli {
    position: absolute;
    right: 34px;
  }
  main .conteneur__nom-resto_coeur .coeur-rempli {
    position: absolute;
    right: 34px;
  }
  main .conteneur_entrees_plats_desserts {
    width: 100%;
  }
  main .conteneur_entrees_plats_desserts .conteneur__entrees {
    width: 100%;
  }
  main .conteneur_entrees_plats_desserts .conteneur__plats {
    width: 100%;
  }
  main .conteneur_entrees_plats_desserts .conteneur__desserts {
    width: 100%;
  }
  main .conteneur_entrees_plats_desserts .button__commander {
    margin-top: 10px;
    margin-left: 120px;
    width: 60%;
  }
  footer {
    position: absolute;
    top: 1736px;
    width: 90%;
    height: 28%;
  }
}/*# sourceMappingURL=style-page-resto.css.map */